@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --alata: "Alata";
    --jose-sans: "Josefin Sans";
    --white: white;
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--alata);
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

#main-container {
    font-size: 15px;
    width: 100%;
}

.heading-2 {
    font-family: var(--jose-sans);
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.flex-1 {
    flex: 1;
}

.grid {
    display: grid;
}

#nav-bar-brand-cover {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#nav-bar-brand-cover-text {
    padding: 25px;
    width: 100%;
    position: absolute;
    font-family: var(--jose-sans);
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    padding: 20px 0;
    margin: 20px 0;
}

#nav-bar-brand-cover-text>* {
    width: 77vw;
    margin: auto;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 14px 0;
}

#logo-container {
    flex: 1;
}

#nav-hamburger {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#nav-links {
    display: flex;
    column-gap: 13px;
    list-style-type: none;
}

.nav-item {
    padding: 0 10px;
}

#nav-links :last-child {
    padding-right: 0;
}

.nav-link {
    font-family: var(--alata);
    text-decoration: none;
    color: var(--white);
}

#hamburger {
    display: none;
}

#brand-cover-text {
    padding: 20px 0;
    margin: 20px auto;
    border-style: solid;
    border-color: transparent;
    border-width: 20px 2px;
}

#brand-cover-text p {
    color: var(--white);
    text-transform: uppercase;
    border: solid transparent;
    border-width: 20px;
    border-bottom-width: 7px;
    font-size: 4.5rem;
    max-width: 650px;
    padding: 20px;
    outline: 2px solid white;
    font-weight: 300;
    line-height: 4.35rem;
    letter-spacing: 1px;
    margin: 20px 0;
}

#brand-cover-image {
    position: relative;
    filter: brightness(0.6);
}

#brand-cover-image>img {
    object-position: center;
    object-fit: cover;
}

#interactive-image-text-container {
    width: 77vw;
    margin: 10.9% auto;
    position: relative;
    display: flex;
}

#interactive-text {
    padding-top: 8.8%;
    padding-left: 8.7%;
    padding-bottom: 2px;
    width: 48.6%;
    background-color: var(--white);
    position: absolute;
    inset: auto 0 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

#interactive-text-description {
    line-height: 1.555rem;
    color: var(--dark-gray);
    font-weight: 400;
}

#cards {
    width: 77vw;
    margin: auto;
    row-gap: 25px;
}

#cards-header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

#cards-button {
    align-content: center;
}

#cards-button-link {
    padding: 9px 20.8px;
    border: solid transparent;
    border-width: 0 20px;
    outline: 2px solid var(--dark-gray);
    text-transform: uppercase;
    text-decoration: none;
    color: initial;
    font-size: .95em;
    letter-spacing: 4px;
}

#cards-body {
    padding: 20px 0;
    margin: 20px 0;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}

.card {
    position: relative;
}

.card-image {
    position: relative;
    z-index: -1;
}

.card-footer {
    position: absolute;
    text-transform: uppercase;
    font-family: var(--jose-sans);
    font-size: 2rem;
    font-weight: 300;
    left: 16%;
    bottom: 8%;
    color: var(--white);
}

footer {
    align-content: center;
    background-color: black;
    padding: 25px 0;
}

#footer-container {
    width: 77vw;
    margin: auto;
    padding: 20px 0;
}

#footer-container>* {
    row-gap: 21px;
}

#footer-logo>img {
    width: 9.5em;
}

#footer-nav-links {
    list-style-type: none;
    column-gap: 34px;
}

.footer-nav-link {
    text-decoration: none;
    color: var(--white);
}

#footer-icons {
    align-items: center;
    column-gap: 16px;
}

#footer-copyright>p {
    text-align: end;
    color: var(--very-dark-gray);
}

@media (max-width:768px) {
    #nav {
        display: none;
    }

    #hamburger {
        display: initial;
    }


    #nav-bar-brand-cover-text>* {
        width: 87vw;
        margin: auto;
    }

    /* Footer */

    #footer-nav-links {
        flex-direction: column;
        row-gap: 20px;
    }

    #footer-icons-copyright {
        justify-content: end;
    }
}

@media (max-width:600px) {

    /* NavBar & Brand Cover */

    #nav-bar {
        margin: auto;
        margin-bottom: 20px;
        padding: 0 0 20px 0;
    }

    #brand-cover-text {
        margin: 25px auto;
        padding: 25px 0;
    }

    #logo-container>img {
        width: 90%;
    }

    #brand-cover-image>img {
        content: url(images/mobile/image-hero.jpg);
        width: 100%;
        height: auto;
    }

    #nav-bar-brand-cover-text {
        row-gap: 28px;
    }

    #brand-cover-text p {
        font-size: 2.6em;
        line-height: 1em;
        color: var(--white);
        text-transform: uppercase;
        border: none;
        max-width: 650px;
        outline: 2px solid white;
        font-weight: 300;
    }

    #footer-container {
        flex-direction: column;
        row-gap: 35px;
        margin: 10px auto;
    }

    #footer-logo-nav {
        text-align: center;
        row-gap: 15px
    }

    #footer-nav {
        padding: 15px 0;
    }

    #footer-icons-copyright {
        align-items: center;
        row-gap: 18px;
    }
}